/* CSS declarations go here */
body{
	color:#777;
}
.navbar, .navbar-default{
	background-color: #5bc0de;
}
.brand-color{
	background-color: #5bc0de;
	color:#777;
}
.jumbotron{
	background-color: #fff;	
	border:1px solid  #5bc0de;
}
.right{
	float:right;
	margin-right: 5%;
	
}
.item{
	margin-left:3em;
}
/* TODO: Colors need to be adjusted in theses 3 selectors in order to match the Aqua of the site */
.Low{
	background-color:green;
}
.Medium{
	background-color: yellow;
	color:black;
}
.High{
	background-color: red;
	color:#ffffff;
}
.btn-add{
	background-color: #5bc0de;
}
