/* CSS declarations go here */

body {
    color: rgba(0, 102, 0, 0.4);
    background: white;
}
h1, h2, h3, h4{
    margin-bottom:4.5rem;
}
a, .due, input, textarea {
    color: rgba(148, 148, 148, 1);
}

.navbar, .navbar-default, .btn-brand,#login-buttons-password  {
    background-color: rgba(0, 102, 0, 0.4);

}

.brand-color {
    background-color: rgba(0, 102, 0, 0.4);
    color: rgba(0, 102, 0, 0.4);
}

.top-margin {
    margin-top: 4em;
}

ul {
    list-style: none;
    /*text-align:left;*/
}

/*	Common style effects section*/
.border-shadow {
    border: 1px none transparent;
    box-shadow: 1px 1px 3px lightslategray;
    border-radius: .4em;
}

/*	Flex Container*/

.flex-container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    justify-content: space-between;

}

.task-header {
    margin-left:.8rem;
}

.sorter {
    width: 18%;
    padding: 1.4em;
}
.sorter a{
    padding-left:0;
    color:inherit;
}
.sorter ul{
    padding-left:0;
}

.task-list {
    width: 61%;
    padding: 1.4em;
}
.task-list table{
    table-layout: fixed;
    border-collapse: collapse;
}

.delete{
    margin-left:1rem;
    padding-top:1rem;
    text-align:center;
}

.task-list td{
    word-wrap: break-word;
    /*width:auto;*/
}

/*      Right-side  */
.list-info {
    width: 18%;
    padding: 1.4em;

}

.list-info:first-child {
    padding-top:3.9rem;
}
.list-info  div{

    height:auto ;
    border-bottom:1px solid rgba(0, 102, 0, 0.4);
}
.list-info h4 {
    margin-bottom:1rem;
}
.list-info ul {
    padding-left:1.1rem;
    overflow:hidden;
    text-overlow: ellipsis;
}


.complete {
    color: lightslategray;
    text-decoration: line-through;
}

/*  Task Table */
.table{
 table-layout: fixed;
}
.table th{
    padding-left:1rem;
    }

    /* Right Sidebar */

.high-priority a{
    color:#c2c299;
}

.high-priority span {
    background: #99c299;

}