/* CSS declarations go here */

body {
    color: rgba(0, 102, 0, 0.4);
    background: white;
    font-size:1.3rem;
}
.table td  {
    padding-top:8px !important;
    padding-bottom:8px !important;
}
h1, h2, h3, h4{
    margin-bottom:4.5rem;
}
a, .due, input, textarea {
    color: rgba(148, 148, 148, 1);
}

.table > tbody > tr > td{
    padding:8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navbar, .navbar-default, .btn-brand,#login-buttons-password  {
    background-color: rgba(0, 102, 0, 0.4);

}

.brand-color {
    background-color: rgba(0, 102, 0, 0.4);
    color: rgba(0, 102, 0, 0.4);
}
.danger-color {
    background: rgba(255,99,71, .9);
    color:#040;
}

.top-margin {
    margin-top: 4em;
}

ul {
    list-style: none;
    /*text-align:left;*/
}
/*	Common style effects section*/
.border-shadow {
    border: 1px none transparent;
    box-shadow: 1px 1px 3px lightslategray;
    border-radius: .4em;
}

/*	Flex Container*/

.flex-container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    justify-content: space-between;

}

.task-header {
    margin-left:.8rem;
}

.sorter {
    width: 18%;
    padding: 1.4em;
}
.sorter a{
    padding-left:0;
    color:inherit;
}
.sorter ul{
    padding-left:0;
}

.task-list {
    width: 61%;
    padding: 1.4em;
}
.task-list table{
    table-layout: fixed;
    border-collapse: collapse;
}

.delete{
    margin-left:1rem;
    padding-top:1rem;
    text-align:center;
}

.task-list td{
    white-space: nowrap;
    word-wrap: break-word;
    overflow:hidden;
    text-overlow: ellipsis;
    after:
}

.modal-content > modal-title {
    /*font-size: 1rem;*/
    /*height:20px;*/
    /*overflow:hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow-ellipsis: ellipsis;*/
    color:#fdf;
}

/*      Right-side  */
.list-info {
    width: 18%;
    padding: 1.4em;

}

.list-info:first-child {
    padding-top:3.9rem;
}
.list-info  div{
margin:0;
    height:auto ;
    border-bottom:1px solid rgba(0, 102, 0, 0.4);
}
.list-info h4, .list-info h5{
    margin-bottom:1rem;
    font-size:1.3rem;
}
.list-info h5 {
    margin-left: 0;
    width:100%;
}
.list-info ul {
    list-style: none;
    padding-left:1.1rem;
    overflow:hidden;
    text-overlow: ellipsis;
    white-space: nowrap;
}

/*  Task Table */
.table{
 table-layout: fixed;
}
.table th{
    padding-left:1rem;
    }

.js-task-due{
    width:100%;
}

.hide {
    display:none;
}
    /* Right Sidebar */

.high-priority  {
    color:#c2c299;
    position:relative;
    left:0;
    /*margin-left:0;*/
    /*margin-right:5px;*/
    /*padding-left:0;*/



}

/*      End of Right pane Styling   */

/*  Set class according to priority or whether it's complete    */
.complete {
    color: lightslategray;
    text-decoration: line-through;
}

.Low{
    border-radius:2px;
    padding:.4rem;
    /*border:.5px solid rgba(0, 102, 0, 0.4);*/
    color:rgba(0, 102, 0, 0.4);
}

.Med{
    color:rgba(223,125,30, 0.8);
    /*border:.5px solid rgba(223,125,30, 0.8);*/
    border-radius:2px;
    padding:.4rem;
}


.High  {
    color: rgba(255,99,71, .9);
    padding:.4rem;


}

#pastDue a{
    color: rgba(255,99,71, .9);
    font-weight: 700%;
}
#dueToday a{
    color:rgba(223,125,30, 0.8);
}

.modal-body > h4 {
    margin:1rem;
}

.modal-body ul {
    list-style: inside;
}