<template name="add_task">

    <div class="task_actions">
        <!--<button class="btn "><a href="#" class=" js-add-task-form " id="add-task">Add New Task</a></button>-->
        <br/><br/><br/>
        <label class="labels" for="priority_sorter">Sort by Priority</label><br/>
        <select name="priority_sorter" id="priority_sorter" class="add-task">
            <option value="All Tasks">All Tasks</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
            <option value="Completed">Completed</option>
        </select><br/><br/><br/>

        <label class="labels" for="priority_sorter">Sort by Age</label><br/>
        <select name="created_sorter" id="">
            <option value="All Tasks">All Tasks</option>
            <option value="2_weeks">Older Than 2 Weeks</option>
            <option value="1_month">Older Than 1 month</option>
            <option value="today">Due Today</option>
            <option value="in_a_week">Due in a Week</option>
            <option value="after_one_month">Long Term</option>

        </select>
    </div>


    <!-- »»»»»»»»»»»»»» Add Task Modal ««««««««««««« -->
    <div class="modal fade" id="task_add_form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form form-inline js-add-task">
                        <div class="form-group ">
                            <input type="text" class="form-control" id="text" placeholder="Enter task...">
                            <!-- »»»»»»»»Datepicker »»»»»»»»»»» -->
                            <input type="text" class="form-control" id="my-datepicker" placeholder="Due date...">
                            <!-- »»»»»»»» Priority Dropdown »»»»»»»»»»» -->
                            <select name="" id="priority">
                                <option value="Low">Low Priority</option>
                                <option value="Medium">Medium Priority</option>
                                <option value="High">High Priority</option>
                            </select>
                        </div>
                        <div>
                            <!-- »»» Notes field ««««« -->
                            <textarea name="notes" id="notes" cols="50" rows="7"></textarea>
                        </div>
                        <button type="submit" class="btn btn-brand " id="add-task">Add Task</button>

                    </form>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-warning " data-dismiss="modal">cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- »»»»»  Join or Login Message ««««««««««« -->
    <div class="modal fade" id="join_or_login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                    </div>
                </div>
                <div class="modal-body">
                    Create an account or login to create or edit tasks

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- »»»»»»»»»» Update Modal «««««««««««« -->
    <div class="modal fade" id="task_update_form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header brand-color">
                    <div class="modal-title">
                        <h3>Update Task</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form form-inline js-update-task">
                        {{#each update}}
                            <div class="form-group ">
                                <input type="text" class="form-control" id="task" value="{{task}}">

                                <!-- »»»»»»»»Datepicker »»»»»»»»»»» -->
                                <input type="text" class="form-control  " id="update-datepicker" value="{{due}}">

                                <!-- »»»»»»»» Priority Dropdown »»»»»»»»»»» -->
                                <select id="priorityList">
                                    <option value="Low" {{isSelected "Low"}}>Low</option>
                                    <option value="Medium" {{isSelected "Medium"}}>Medium</option>
                                    <option value="High" {{isSelected "High"}}>High</option>
                                </select>
                            </div>
                            <div class="">
                                <textarea value="{{notes}}" name="notes" id="notes" cols="50" rows="7"></textarea>
                            </div>
                        {{/each}}
                        <!-- »»» Notes field ««««« -->
                        <button type="submit" class="btn btn-brand js-submit-update-task " id="add-task">
                            UpdateTask
                        </button>
                    </form>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-warning" data-dismiss="modal">cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>

