<template name="add_task">

    <!-- »»»»»»»»»»»»»» Add Task Modal ««««««««««««« -->
    <div class="modal fade"
         id="task_add_form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form form-inline js-add-task">
                        <div class="form-group ">
                            <input type="text"
                                   class="form-control"
                                   id="text"
                                   placeholder="Enter task...">
                            <!-- »»»»»»»»Datepicker »»»»»»»»»»» -->
                            <input type="text"
                                   class="form-control"
                                   id="my-datepicker"
                                   placeholder="Due date...">
                            <!-- »»»»»»»» Priority Dropdown »»»»»»»»»»» -->
                            <select name=""
                                    id="priority">
                                <option value="Low">Low Priority</option>
                                <option value="Medium">Medium Priority</option>
                                <option value="High">High Priority</option>
                            </select>
                        </div>
                        <div>
                            <!-- »»» Notes field ««««« -->
                            <textarea name="notes"
                                      id="notes"
                                      cols="50"
                                      rows="7"></textarea>
                        </div>
                        <button type="submit"
                                class="btn btn-brand "
                                id="add-task">Add Task
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- »»»»»  Join or Login Message ««««««««««« -->
    <div class="modal fade"
         id="join_or_login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                    </div>
                </div>
                <div class="modal-body">
                    You must be logged in to add tasks
                </div>
                <div class="modal-footer">
                    <button class="btn btn-brand">
                        {{> loginButtons}}
                            <!--data-dismiss="modal">cancel-->
                    </button>


                </div>
            </div>
        </div>
    </div>

    <!-- »»»»»»»»»» Update Modal «««««««««««« -->
    <div class="modal fade"
         id="task_update_form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header brand-color">
                    <div class="modal-title">
                        <h3>Update Task</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form form-inline js-update-task">
                        {{#each update}}
                            <div class="form-group ">
                                <input type="text"
                                       class="form-control"
                                       id="task"
                                       value="{{task}}">

                                <!-- »»»»»»»»Datepicker »»»»»»»»»»» -->
                                <input type="text"
                                       class="form-control  "
                                       id="update-datepicker"
                                       value="{{due}}">

                                <!-- »»»»»»»» Priority Dropdown »»»»»»»»»»» -->
                                <select id="priorityList">
                                    <option value="Low" {{isSelected "Low"}}>Low</option>
                                    <option value="Medium" {{isSelected "Medium"}}>Medium</option>
                                    <option value="High" {{isSelected "High"}}>High</option>
                                </select>
                            </div>
                            <div class="">
                                <textarea value="{{notes}}"
                                          name="notes"
                                          id="notes"
                                          cols="50"
                                          rows="7"></textarea>
                            </div>
                        {{/each}}
                        <!-- »»» Notes field ««««« -->
                        <button type="submit"
                                class="btn btn-brand js-submit-update-task "
                                id="add-task">
                            UpdateTask
                        </button>
                    </form>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-warning"
                            data-dismiss="modal">cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--»»»»»»»»»»» Info Modal ««««««««««««««-->
     <div class="modal fade"
         id="task_info_form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header brand-color">
                    <div class="modal-title">
                        <h3>{{#each info}} {{task}} {{/each}}</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form form-inline js-update-task">
                        {{#each info}}
                            <div class="">
                                <textarea value="{{notes}}"
                                          name="notes"
                                          id="notes"
                                          cols="50"
                                          rows="7"></textarea>
                            </div>
                        {{/each}}
                        
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</template>

