<template name="help">

    <div class="modal fade"
         id="site_info_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
<h2>TextMate To do app</h2>
                    </div>
                </div>
                <div class="modal-body">
        <h4>Features:</h4>
                    <ul>
                        <li>Able to add Todos</li>
                        <li>Fields include Task, Due date, Priority, and Notes.</li>
                        <li>Todos can be updated clicking on the task link.</li>
                        <li>Clicking 'Info' icon shows notes displaying more info.</li>
                        <li>Todos are colored depending on Priority.</li>
                        <li>Sorted by Due date.</li>
                        <li>A Delete icon on the right removes task from collection.</li>
                    </ul>
                    <h4>Left Pane:</h4>

                    <ul>
                        <li>Left pane has a dropdown  allowing you to filter tasks by either All Tasks, Completed, Pending, or Priority.</li>
                    </ul>

                    <h4>Right Pane:</h4>
                    <ul>
                        <li>Dislays how many 'High' Priority tasks are pending. Clicking on the High Priority link filters task pane to show only High Priority tasks.</li>
                        <li>3 sections show:</li>
                        <li>Past Due</li>
                        <li>Due Today</li>
                        <li>Due soon</li>
                    </ul>


                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</template>