<!-- 
        Item List
 -->
<template name="item_list">
    {{> add_task}}
    <h4 calss="display-6">Todo List for {{getUser.username}}</h4>
    <div class="well">

        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <ol>
                    {{#each items}} {{> item}} {{/each}}
                </ol>
            </div>
        </div>
    </div>
    <!--    TODO - add a section totaling the amount of tasks etc.-->
</template>
<!-- 
        Item Template
 -->
<template name="item">
    <!-- 
    FIXME: Styling - try making this a ul with each item a li
    and use navbar or inline class
 -->
    
    <ul class="">
        <div class="left">
            <li>
                <input class="items" id="checked" type="checkbox">
            </li>
            <li>
                <a href="#" class=" items js-update-task-form">
                       {{task}}
               </a>
            </li>
          
            <div class="clear"></div>
        </div>
        <div class="right ">
        <li class="items"><span class="label label-info">{{due}}</span></li>
            <li><span class="label label-info items {{priority}}" id="{{priority}}">{{priority}}</span></li>
            <li>
                <button type="button" class="label label-info items   js-delete-task"><span class="glyphicon glyphicon-trash"></span></button>
            </li>
        </div>
        <div class="clear"></div>
    </ul>
</template>
