<!-- 
        Item List
 -->
<template name="item_list">


    <div class="container">
        <h2 class=" task-header bottom-margin">Todo List for  {{getUser.username}}</h2>

        <div class="flex-container">

            <!--
                Left-side Task sorter
            -->
            <div class="sorter border-shadow">
                {{> add_task}}
            </div>
            <!--
                Task List
            -->
            <div class=" task-list border-shadow">
                <!--FIXME - set an If statement here so that the word priority appears only when L,M, or H is selected-->
                <h3>Todo List - Showing {{sorterPriority}} tasks for</h3>
                <table class="table table-condensed">
                        <thead>
                            <th></th>
                            <th>Task</th>
                            <th>Due</th>
                            <th>Priority</th>
                            <!--<th>X</th>-->
                        </thead>
                    <tbody>
                    {{#each items}} {{> item}} {{/each}}
                    </tbody>
                </table>
                <a href="#"
                   style="color:rgba(0,102,0,0.4);margin-bottom:80%; "
                   class="js-add-task-form"
                   id="add-task">Add Task</a>

                <div style="height:10%;color:transparent">Text to make margin</div>

            </div>

            <!--
                Right-side column
            -->
            <!--TODO - Make this section a due today section-->
            <div class=" list-info border-shadow">
                <h4>Due Soon</h4>
                <ul>
                    <li><a href="#">Due Today</a>
                        <ul>
                            <!--TODO - Create li template for 'due today-->
                        </ul>
                    </li>


                    <li>
                        <a href="#">Due Soon</a>
                        <ul>
                            <!--TODO - Creat a li template for tasks due in next 3 days-->
                        </ul>
                    </li>
                </ul>
            </div>
            <!--    NOTE - add a section totaling the amount of tasks etc.-->

        </div>
    </div>
</template>
<!-- 
        Item Template
 -->
<template name="item">



        <tr>
            <td>
                <input class=" js-checked col-md-1"
                       id="checked"
                       type="checkbox"
                       checked="{{isChecked}}">
            </td>
            <td >
                <a href="#"
                   class="js-update-task-form   {{isComplete}}">
                    {{task}}

                </a>

            </td>
            <td>
                {{formatDate due}}
            </td>
            <td>
                {{priority}}
            </td>
            <td>
                <a href="#"
                   class="trash js-delete-task"><span
                        class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>


</template>
