<template name="item_list">
    <ol>
        {{#each items}} {{> item}} {{/each}}
    </ol>
</template>
<template name="item">
    <li>
        <div>
           
            <input id="checked" type="checkbox" >
            {{task}}
            {{due}}

            {{priority}}
            <!-- Checkbox -->            
            
            <button type="button" class="label label-info    js-delete-task"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </li>
</template>
